.ss1{
    margin-top: 300px;
    width: 100%;
    height: 50px;
}

.imagen1 img{
    height: 300px;
    width: 400px; 
    margin-right: 100px;
}

.texto1{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    font: 110% arial;   
    text-align: right;
}
.ss2{
    width: 30%;
    float: left;
}
.ss3{
    width: 70%;
    float: right;
}
