.espacio1{
    padding: 25px;
}

.espacio2{
    padding: 25px;
}

.espacio3{
    padding: 25px;  
}



.s2{
padding-bottom: 174px;
}



.ss2{
    padding-bottom: 10px;
}

.ss3{
    padding-bottom: 196px;
}



.txtSI{
    padding-bottom: 235px;
}

.imgPiura{
    padding-bottom: 65px;
}



.titulo5{
    text-align: right;
}

.imgTrujillo{
    padding-bottom: 14px;
}

.wasa{
    padding-bottom: 200px;
}
